@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Leaflet map container */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
